/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

* {
    overflow-x: hidden;
    scrollbar-width: thin;
}

.form-control, .form-select {
    box-shadow: none;
}
.form-control.is-invalid {
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6, p, label {
  overflow: visible !important;
  margin-bottom: 0.5rem;
}